<!DOCTYPE html>
<html lang="en">

<head>
    <vc:meta-data />

    <partial name="Bundles/_StyleSheetBundles" />

</head>

<body>
    <vc:nav-bar />

    <vc:header />

    @RenderBody()


    <vc:footer />


    <partial name="Bundles/_JavaScriptBundles" />
</body>

</html>
